<h1>Latest News</h1>
<hr/>
<div class="container">
  <div class="sidebar">
    <div id="latest" class="sidebar-item">
      <i class="far fa-clock fa-lg"></i>
      <h3>Latest</h3>
    </div>
    <div id="videos" class="sidebar-item">
      <i class="fas fa-play fa-lg"></i>
      <h3>Videos</h3>
    </div>
    <div id="articles" class="sidebar-item">
      <i class="far fa-file-alt fa-lg"></i>
      <h3>Articles</h3>
    </div>

  </div>
  <div class="list">
    {{#each data}}
    <div class="list-item {{this.contentType}} hidden" >
      <img src="{{this.thumbnails.0.url}}"/>
      <h2>{{this.metadata.title}}</h2>
    </div>
    {{/each}}
  </div>
</div>
