body {
  font-family: 'Work Sans', sans-serif;
  padding: 1em;
}

.container, .list-item {
  display: flex;
  flex-direction: row;
}

.list-item {
  width: 50em;
}

.sidebar, .list {
  display: flex;
  flex-direction: column;
}

.list img {
  margin: 1em;
  border-radius: 0.5em;
}

.sidebar-item {
  display: flex;
  width: 25em;
  padding: 0.8em;
  color: grey;
  border-radius: 0.4em;
}

.active {
  background-color: #a5271f;
  color: white;
}

.sidebar-item:hover {
  color: white;
  background-color: lightgrey;
  cursor: pointer;
}

.sidebar-item i {
  margin-top: 1em;
}

.sidebar-item h3 {
  margin-left: 1em;
}

.hidden {
  visibility: hidden;
}

.list-item img:hover {
  opacity: 0.5;
}

.list-item h2:hover {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
